/*for Navbar*/


@media screen and (max-width:750px){
    #nav{
        background-color: #1c82aa;
    }
    #nav > div{
        width: 60%;
        margin: 0;
    }
    #nav > div > .menu, .white_main_logo{
        display: block;
    }
    #nav > div > .links, .main_logo{
        display: none;
    }
    #side_menu{
        display: block;
    }
}

@media screen and (max-width:650px) {
    #side_menu > div > .login > h3{
        display: none;
    }
    #nav > div{
        width: 100%;
    }
}

/*for Navbar*/